.form__input {
    margin: 24px 0;
    font-family: 'Montserrat', sans-serif;

}

.form__input label {
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.form__input input {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 30px 20px;
    outline-color: #6278f7;
    font-size: 16px;
    box-sizing: border-box;
    color: #333333;
}

.form__input input::placeholder {
    color: #afafaf;
}

.form__input--color input {
    height: 80px;
    padding: 5px 20px;

}